files/apps/rbac/configs/main/capabilities.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <resource_type id="List_Versions">
      <resource path="/">
         <method name="GET">
            <doc title="List Versions">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="List_Version_Details">
      <resource path="/v1.0">
         <method name="GET">
            <doc title="List Version Details">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Create_Database_Instance">
      <resource path="/v1.0/{tenantId}/instances">
         <param style="template" type="xs:string" name="tenantId"/>
         <method name="POST">
            <doc title="Create Database Instance">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="List_All_Database_Instances">
      <resource path="/v1.0/{tenantId}/instances">
         <param style="template" type="xs:string" name="tenantId"/>
         <method name="GET">
            <doc title="List All Database Instances">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="List_Database_Instance_Status_and_Details">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="GET">
            <doc title="List Database Instance Status and Details">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Delete_Database_Instance">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="DELETE">
            <doc title="Delete Database Instance">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Enable_Root_User">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/root">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="POST">
            <doc title="Enable Root User">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="List_Root-Enabled_Status">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/root">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="GET">
            <doc title="List Root-Enabled Status">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Restart_Instance">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/action">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="POST">
            <doc title="Restart Instance">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Resize_the_Instance">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/action">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="POST">
            <doc title="Resize the Instance">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Resize_the_Instance_Volume">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/action">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="POST">
            <doc title="Resize the Instance Volume">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="List_backups_for_instance">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/backups">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="GET">
            <doc title="List Backups by Instance">
               Display the details of all the backups for the instance identified by instanceId.
            </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Create_Database">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/databases">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="POST">
            <doc title="Create Database">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="List_Databases_for_Instance">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/databases">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="GET">
            <doc title="List Databases for Instance">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Delete_Database">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/databases/{databaseName}">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <param style="template" type="xs:string" name="databaseName"/>
         <method name="DELETE">
            <doc title="Delete Database">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Create_User">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/users">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="POST">
            <doc title="Create User">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="List_Users">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/users">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="GET">
            <doc title="List Users in Database Instance">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Change_User_Password">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/users">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <method name="PUT">
            <doc title="List Details for a specific User">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Modify_User_Attributes">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/users/{name}">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <param style="template" type="xs:string" name="name"/>
         <method name="PUT">
            <doc title="Modify User Attributes - name,host,password">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="List_User">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/users/{name}">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <param style="template" type="xs:string" name="name"/>
         <method name="GET">
            <doc title="List Details for a specific User">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Delete_User">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/users/{name}">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <param style="template" type="xs:string" name="name"/>
         <method name="DELETE">
            <doc title="List Details for a specific User">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="List_User_Access">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/users/{name}/databases">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <param style="template" type="xs:string" name="name"/>
         <method name="GET">
            <doc title="List Databases for a specific user">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Grant_User_Access">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/users/{name}/databases">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <param style="template" type="xs:string" name="name"/>
         <method name="PUT">
            <doc title="List Databases for a specific user">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Revoke_User_Access">
      <resource path="/v1.0/{tenantId}/instances/{instanceId}/users/{name}/databases/{database}">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="instanceId"/>
         <param style="template" type="xs:string" name="name"/>
         <param style="template" type="xs:string" name="database"/>
         <method name="DELETE">
            <doc title="Delete User">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="List_Flavors">
      <resource path="/v1.0/{tenantId}/flavors">
         <param style="template" type="xs:string" name="tenantId"/>
         <method name="GET">
            <doc title="List Flavors">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="List_Flavors_by_ID">
      <resource path="/v1.0/{tenantId}/flavors/{flavorId}">
         <param style="template" type="xs:string" name="tenantId"/>
         <param style="template" type="xs:string" name="flavorId"/>
         <method name="GET">
            <doc title="List Flavors by ID">
                        WRITEME
                    </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="List_backups">
      <resource path="/v1.0/{tenantId}/backups">
         <param style="template" type="xs:string" name="tenantId" />
         <method name="GET">
            <doc title="List Backups for a Tenant">
               List all the backups for a Tenant.
            </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Create_backup">
      <resource path="/v1.0/{tenantId}/backups">
         <param style="template" type="xs:string" name="tenantId" />
         <method name="POST">
            <doc title="Create a backup">
               Create a new backup of an database instance.
            </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Backup_by_id">
      <resource path="/v1.0/{tenantId}/backups/{backupId}">
         <param style="template" type="xs:string" name="tenantId" />
         <param style="template" type="xs:string" name="backupId" />
         <method name="GET">
            <doc title="Display backup details">
               Display details about the backup stored in the system.
            </doc>
         </method>
      </resource>
   </resource_type>
   <resource_type id="Delete_backup_by_id">
      <resource path="/v1.0/{tenantId}/backups/{backupId}">
         <param style="template" type="xs:string" name="tenantId" />
         <param style="template" type="xs:string" name="backupId" />
         <method name="DELETE">
            <doc title="Delete backup">
               Delete the backup identified by backupId and the associated files.
            </doc>
         </method>
      </resource>
   </resource_type>
</application>